[Unit]
Description=Startet den Rust-Client Daemon für Homeassistant

[Service]
Type=simple
WorkingDirectory=/home/hyprjo/services/rust_client
ExecStart=/home/hyprjo/services/rust_client/daemon
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
